$vista:mobile;

body{
    @if $vista == mobile{
        @media only screen and (max-width: 900px){
            header div.contenedor, header div.contenedor ul, header div.contenedor ul li
            { 
            display: inline;
            } 
            header div.contenedor nav { 
                    width: 100%;
                    display: inline;
            } 
        }

    } 
        
    @if $vista == mobile {
        @media only screen and (max-width: 700px){ 
            header div.contenedor{ 
                display: flex;
                place-content: space-between;
            }
            #menu-check:not(:checked) ~ nav { 
                display: none;
            }
        
            #menu-check:checked ~ nav { 
                display: block;
            }
            #menu { 
                display: block;
                color: $secondary_color;
                background-color: $primary_color;
                font-size: 1.2em;
                font-weight: bold;
                border: 3px solid $secondary_color;
                border-radius: 0.3em;
                position: absolute;
                right: 0.5em;
                z-index: 9999;
            }
            #menu:hover{ 
                color: $primary_color;
                background-color: $secondary_color;
            }
            #menu-cerrar{ 
                display: none;
            }
        
            #menu-check:checked ~ label #menu-abrir { 
                display: none;
            }
            #menu-check:checked ~ label #menu-cerrar{ 
                display: block;
            }
            header nav{ 
                position: absolute;
                top: 0;
                right: 0;
                background-color: $primary_color;
                padding-top: 0.5em;
                padding-right: 1.5em;
                opacity: 0.8;
                color: $primary_color;
                font-size: 1em;  
            }
            header nav ul, header nav ul li { 
                display: block;
                text-align: 
                right;
            }
        }
    }

    @if $vista == mobile {       
        @media only screen and (max-width: 900px ){ 
        
            body{ 
                position: relative;
                padding-bottom: 3em;
                min-height: 100vh;
                }

            .pie{ 
                position: relative;
                }     
            footer{ 
                
                padding: 0;
                } 
            figure img{ 
                height: 5cm;
                width: 5cm;
                display: inline;
                position: relative;
                margin-top: 3px;
                }

            .yo{ 
                float: none;
                
            }
            #nota{  
                vertical-align: text-bottom;
                font-weight: bold;
                font-size: 20px;
                margin: 10px;
        
                
            }
            #exampleInputEmail1{  
                width: 200px;
                height: 30px;
            }
            #exampleInputComent{  
                width: 200px;
                height: 60px;
            }
               
        }
    }@if $vista == mobile {       
        @media only screen and (max-width: 1200px ){ 
        
            .pie{ 
                position: relative;
                }     
      
        }
    }
    @if $vista == mobile {       
        @media only screen and (max-width: 1500px ){ 
        
            .pie{ 
                position: relative;
                }     
      
        }
    }
   
}

